.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;
  margin-bottom: 16px;
}
.text {
  font-size: 24px;
  line-height: 1.25;
  margin-bottom: 24px;
  padding-right: 49px;
}
.benefits {
  margin-bottom: 24px;
}
.benefits h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  margin-bottom: 12px;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.item {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 8px;
}

@media (min-width: 768px) {
  .title {
    font-size: 36px;
    line-height: 1.16;
  }
  .text {
    font-size: 26px;
    line-height: 1.2;
    padding-right: 0;
  }
  .list {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .list {
    flex-direction: column;
  }
}
