.wrapper {
  background-image: url("..../../../../images/background-mobile/dots Home.png");
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
